@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap');

html {
    background-color: black;
    font-family: Exo;
    font-weight: 600;
}

body {
    width: 970px;
    height: auto;
    margin: 0px auto;
    background-color: white;
    /* text-align: center; */
}

h1, h2 {
    text-align: center;
}

.top {
    /* background-color: #f9f3f3; */
    background: linear-gradient(to right, #3f015c, #972626ab);
    padding: 15px;
}

.top h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}

.top h2 {
    text-align: center;
    color: white;
}

.bio {
    text-align: center;
}

.middle {
    padding: 15px;
    font-size: 20px;
    margin-top: 30px;
}

#headshot {
    height: 300px;
    width: 290px;
    border-radius: 50%;
    /* Center image */
    margin: 10px auto 20px;
    display: block;
}

.tutorial {
    text-align: center;
    margin-top: 40px;
}

#coding {
    height: 500px;
    width: 100%;
    /* Center image */
    margin: 10px auto 20px;
    display: block;
}

#group {
    height: 500px;
    width: 100%;
    /* Center image */
    margin: 10px auto 20px;
    display: block;
}

.project {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 0px, 15px;
}

.projects h1 {
    text-decoration: underline;
    /* font-size: 30px; */
    margin-top: 40px;
}

.project h2 {
    font-size: 20px;
}

.project a {
    text-decoration: none;
}

.resume h1 {
    text-decoration: underline;
}

#resumepdf {
    text-align: center;
}

.bottom {
    padding: 15px;
    background-color: #f9f3f3;
    text-align: center;
}

.bottom a {
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}

.signature {
    margin-top: 15px;
    font-size: 12px;
}